/* HELPERS */
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* BUTTON */
.btn{
  padding: 14px 32px;
  border-radius: 4px;

  background-color: $green;
  color: $white;
}

// FONDO
.silver-bg {
  background-color: $silver;
}

.black-bg {
  background-color: $black;
}