// TIPOGRAFIA
// 16px = 1em
// Formula para font size
// em = px / 16


// VARIABLES COLORES
$green: #4CAF4F;

$gray-900: #18191F;
$gray-800: #263238;
$gray-700: #4D4D4D;
$gray-600: #717171;

$white: #FFFFFF;

// BREAKPOINTS
// $tablet-breakpoint: 1023px;
// $mobile-breakpoint: 767px;
