// TIPOGRAFIA
$fontsize-default: 16px;

// VARIABLES COLORES
$green: #4CAF4F;

$gray-900: #18191F;
$gray-800: #263238;
$gray-700: #4D4D4D;
$gray-600: #717171;

$white: #FFFFFF;
$black: #263238;
$silver: #F5F7FA;

// BREAKPOINTS
$tablet-breakpoint: 1023px;
$mobile-breakpoint: 767px;
