/* ESTILOS GENERALES EN ETIQUETAS*/
body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

h1 {
  font-size: 4rem;
  color: #4D4D4D;
}

h2 {
  font-size: 2.25rem;
  color: #4D4D4D;
}

h3 {
  font-size: 1.75rem;
  color: #4D4D4D;
}

h4 {
  font-size: 1.25rem;
  color: #717171;
}

h5 {
  font-size: 4rem;
  color: #263238;
}

p {
  font-size: 1rem;
  color: #717171;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* HELPERS */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 15px;
}

/* BUTTON */
.btn {
  padding: 14px 32px;
  border-radius: 4px;
  background-color: #4CAF4F;
  color: #FFFFFF;
}

.silver-bg {
  background-color: #F5F7FA;
}

.black-bg {
  background-color: #263238;
}

/* HEADER */
.header {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-header {
  display: flex;
  gap: 50px;
}
.menu-header a {
  font-size: 1rem;
  color: #18191F;
}

.btn-header {
  display: flex;
  gap: 14px;
}
.btn-header a {
  font-size: 0.875rem;
  padding: 10px 20px;
  border-radius: 6px;
}
.btn-header a:first-child {
  background-color: #F5F7FA;
  color: #4CAF4F;
}
.btn-header a:nth-child(2) {
  background-color: #4CAF4F;
  color: #FFFFFF;
}

#menu-mobile {
  display: none;
}

/* HERO BANNER */
.hero-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 96px;
  padding-bottom: 96px;
}

.hero-content span {
  color: #4CAF4F;
  display: block;
}
.hero-content h1 {
  margin-bottom: 16px;
  font-weight: 600;
}
.hero-content p {
  margin-bottom: 32px;
}

#dot-slider {
  width: 46px;
  margin: 0 auto;
  padding-bottom: 15px;
}

/* OUR CLIENTS */
.our-clients {
  padding-top: 40px;
  padding-bottom: 40px;
}
.our-clients h2 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 8px;
}
.our-clients p {
  text-align: center;
  margin-bottom: 16px;
}

.clients-img {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

/* FEATURES */
.features-content {
  text-align: center;
}
.features-content h2 {
  font-weight: 600;
  width: 100%;
  max-width: 542px;
  margin: 0 auto;
  margin-bottom: 8px;
}
.features-content p {
  margin-bottom: 16px;
}
.features-content span {
  display: block;
}

.features-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.features-card {
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  padding: 24px 32px;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
  border-radius: 8px;
}
.features-card h3 {
  margin-top: 16px;
  margin-bottom: 8px;
}
.features-card p {
  font-size: 0.875rem;
}

/* ABOUT US */
.about-us {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 85px;
  padding-bottom: 85px;
}
.about-us h2 {
  font-weight: 600;
  margin-bottom: 16px;
}
.about-us p {
  font-size: 0.875rem;
  margin-bottom: 32px;
}

.about-content {
  max-width: 600px;
  width: 100%;
}

/* STATISTIC */
.statistic {
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.statistic-content span {
  color: #4CAF4F;
  display: block;
}
.statistic-content h2 {
  font-weight: 600;
  margin-bottom: 8px;
}

.statistic-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 30px;
}

.statistic-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.statistic-item h3 {
  margin-bottom: 5px;
}
.statistic-item p {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* DESIGN GUIDE */
.design-guide {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 85px;
  padding-bottom: 85px;
}
.design-guide h2 {
  font-weight: 600;
  margin-bottom: 16px;
}
.design-guide p {
  margin-bottom: 32px;
  font-size: 0.875rem;
}

.design-guide-content {
  max-width: 600px;
  width: 100%;
}

/* TESTIMONIALS */
.testimonials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.testimonials h2 {
  display: none;
}

.testimonials-wrap {
  max-width: 750px;
  width: 100%;
}

.testimonials-content {
  margin-bottom: 32px;
}
.testimonials-content p {
  margin-bottom: 16px;
}
.testimonials-content h2 {
  display: none;
}
.testimonials-content p:nth-child(2) {
  color: #4CAF4F;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 8px;
}
.testimonials-content p:nth-child(3) {
  color: #89939E;
  font-weight: 400;
}

.testimonials-clients {
  display: flex;
  align-items: center;
  gap: 24px;
}
.testimonials-clients > div {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.testimonials-clients a {
  color: #4CAF4F;
  font-size: 1.25rem;
  font-weight: 600;
}

.footer-information {
  display: flex;
  justify-content: space-between;
}

.testimonials-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* BLOG */
.blog {
  padding-top: 46px;
  margin-bottom: 100px;
}

.blog-content {
  text-align: center;
}
.blog-content h2 {
  font-weight: 600;
  margin-bottom: 8px;
}
.blog-content p {
  width: 100%;
  max-width: 630px;
  margin: 0 auto;
  margin-bottom: 16px;
}

.blog-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.blog-item {
  position: relative;
  margin-bottom: 100px;
}

.blog-white-card {
  position: absolute;
  box-sizing: border-box;
  bottom: -80px;
  left: 50%;
  transform: translateX(-50%);
  height: 176px;
  width: 100%;
  max-width: 318px;
  padding: 16px 16px;
  border-radius: 8px;
  background-color: #F5F7FA;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}
.blog-white-card h4 {
  font-weight: 600;
  margin-bottom: 16px;
}
.blog-white-card a {
  color: #4CAF4F;
  font-size: 1.25rem;
  font-weight: 600;
}

.blog-card-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

/* DEMO */
.demo {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.demo h5 {
  font-weight: 600;
  width: 100%;
  max-width: 750px;
  margin: 0 auto 32px;
}

.demo-btn {
  display: flex;
  justify-content: center;
}
.demo-btn a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  padding-top: 64px;
  padding-bottom: 74px;
}
.footer p {
  color: #F5F7FA;
  font-weight: 300;
}
.footer h4 {
  color: #FFFFFF;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 24px;
}
.footer a {
  display: block;
  color: #F5F7FA;
  font-size: 0.875rem;
  font-weight: 300;
  margin-bottom: 12px;
}

.footer-column1 > img {
  width: 191px;
  margin-bottom: 40px;
}
.footer-column1 p:nth-child(3) {
  margin-bottom: 40px;
}

.footer-social-media img + img {
  margin-left: 16px;
}

.footer-input {
  position: relative;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  width: 255px;
  height: 40px;
}
.footer-input input {
  background: transparent;
  border: none;
  padding-left: 12px;
  padding-right: 40px;
  color: #FFFFFF;
}
.footer-input input::placeholder {
  color: #D9DBE1;
  font-size: 14px;
}
.footer-input button {
  position: absolute;
  right: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Tablet */
@media only screen and (max-width: 1023px) {
  body {
    border-top: 10px solid blue;
    font-size: 19px;
  }
  .menu-header, .btn-header {
    display: none;
  }
  #menu-mobile {
    display: flex;
    align-items: center;
  }
  .hero-banner {
    flex-direction: column;
    text-align: center;
    padding: 40px 0px;
    gap: 50px;
  }
  .clients-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
  }
  .clients-img > *:last-child:nth-child(odd) {
    grid-column: 1/-1;
  }
  .features-cards {
    gap: 24px;
  }
  .features-card {
    max-width: 350px;
  }
  .about-us {
    flex-direction: column-reverse;
    text-align: center;
    gap: 32px;
  }
  .design-guide {
    flex-direction: column-reverse;
    text-align: center;
    gap: 32px;
  }
  .testimonials {
    flex-direction: column;
    width: 100%;
    max-width: 85%;
  }
  .testimonials h2 {
    display: flex;
  }
  .testimonials-clients {
    flex-direction: column;
    align-items: flex-start;
  }
}
/* Movil */
@media only screen and (max-width: 767px) {
  body {
    border-top: 10px solid orangered;
  }
  h1,
  h5 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.875rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  .clients-img {
    grid-template-columns: repeat(2, 1fr);
  }
  .statistic {
    flex-direction: column;
    text-align: center;
    gap: 32px;
  }
  .statistic-items {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    justify-items: center;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-column1,
  .footer-company,
  .footer-support,
  .footer-form {
    text-align: center;
    margin-bottom: 15px;
  }
}

/*# sourceMappingURL=styles.css.map */
