/* ESTILOS GENERALES EN ETIQUETAS*/
body {
  font-family: "Inter", sans-serif;
  margin: 0;
}

h1 {
  font-size: 4rem;
  color: #4D4D4D;
}

h2 {
  font-size: 2.25rem;
  color: #4D4D4D;
}

h3 {
  font-size: 1.75rem;
  color: #4D4D4D;
}

h4 {
  font-size: 1.25rem;
  color: #717171;
}

h5 {
  font-size: 4rem;
  color: #263238;
}

p {
  font-size: 1rem;
  color: #717171;
}

a {
  text-decoration: none;
}

.btn {
  font-size: 16px;
  padding: 32px 14px 32px 14px;
  border-radius: 4px;
}

.btn-small {
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
}

.silver-bg {
  background-color: #F5F7FA;
}

/* HELPERS */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: 14px 32px;
  border-radius: 4px;
  background-color: #4CAF4F;
  color: #FFFFFF;
}

/* HEADER */
.header {
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-header {
  display: flex;
  gap: 50px;
}
.menu-header a {
  font-size: 1rem;
  color: #18191F;
}

.btn-header {
  display: flex;
  gap: 14px;
}
.btn-header a {
  font-size: 0.875rem;
  padding: 10px 20px;
  border-radius: 6px;
}
.btn-header a:first-child {
  background-color: #F5F7FA;
  color: #4CAF4F;
}
.btn-header a:nth-child(2) {
  background-color: #4CAF4F;
  color: #FFFFFF;
}

/* HERO BANNER*/
.hero-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 96px 0px;
}

.hero-content span {
  display: block;
  color: #4CAF4F;
}
.hero-content h1 {
  margin-bottom: 16px;
  font-weight: 600;
}
.hero-content p {
  margin-bottom: 32px;
}

#dot-slider {
  text-align: center;
  padding-bottom: 15px;
}

.our-clients {
  padding: 40px 0px;
}
.our-clients h2 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 8px;
}
.our-clients p {
  text-align: center;
  margin-bottom: 16px;
}

.clients-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.features-content {
  text-align: center;
}
.features-content h2 {
  font-weight: 600;
  margin-bottom: 8px;
}
.features-content p {
  margin-bottom: 16px;
}
.features-content span {
  display: block;
}

.features-cards {
  display: flex;
  justify-content: space-around;
}

.features-card {
  box-sizing: border-box;
  width: 300px;
  padding: 24px 32px;
  text-align: center;
  box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.2);
  border-radius: 8px;
}
.features-card h3 {
  margin-top: 16px;
  margin-bottom: 8px;
}
.features-card p {
  font-size: 0.875rem;
}

.about-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 85px 0px;
}
.about-us h2 {
  font-weight: 600;
  margin-bottom: 16px;
}
.about-us p {
  margin-bottom: 32px;
  font-size: 0.875rem;
}

.about-content {
  width: 600px;
}

.statistic {
  padding: 64px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.statistic-content span {
  color: #4CAF4F;
  display: block;
}
.statistic-content h2 {
  font-weight: 600;
  margin-bottom: 8px;
}

.statistic-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 30px;
}

.statistic-item {
  display: flex;
  align-items: center;
  gap: 16px;
}
.statistic-item h3 {
  margin-bottom: 5px;
}
.statistic-item p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.design-guide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 85px 0px;
}
.design-guide h2 {
  font-weight: 600;
  margin-bottom: 16px;
}
.design-guide p {
  margin-bottom: 32px;
  font-size: 0.875rem;
}

.design-guide-content {
  width: 600px;
}

.testimonials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 32px 0px;
}

.testimonials-wrap {
  width: 750px;
}

.testimonials-content p {
  margin-bottom: 16px;
}
.testimonials-content p:nth-child(2) {
  color: #4CAF4F;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 8px;
}
.testimonials-content {
  margin-bottom: 32px;
}

.testimonials-clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.testimonials-clients a {
  color: #4CAF4F;
  font-size: 1.25rem;
  font-weight: 600;
}

/*# sourceMappingURL=styles.css.map */
