/* FEATURES */
.features-content{

    text-align: center;

    h2{
        font-weight: 600;

        width: 100%;
        max-width: 542px;

        margin: 0 auto;
        margin-bottom: 8px;
    }

    p{
        margin-bottom: 16px;
    }

    span{
        display: block;
    }
}

.features-cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.features-card{
    box-sizing: border-box;

    width: 100%;
    max-width: 300px;
    padding: 24px 32px;

    text-align: center;

    box-shadow: 0px 2px 4px 0px rgba(171, 190, 209, 0.20);
    border-radius: 8px;

    // img{
    //     width: 65px;
    // }

    h3{
        margin-top: 16px;
        margin-bottom: 8px;
    }

    p{
        font-size: rem(14);
    }
}
