/* HERO BANNER*/
.hero-banner{
    display: flex;

    justify-content: space-around;
    align-items: center;

    padding: 96px 0px;
}

.hero-content{
    span{
        color: $green;
        display: block;
    }

    h1{
        margin-bottom: 16px;
        font-weight: 600;
    }

    p{
        margin-bottom: 32px;
    }
}

#dot-slider{
    text-align: center;
    padding-bottom: 15px;
}
