/* HERO BANNER*/
.silver-bg {
    background-color: $silver;
}

.hero-banner{
    display: flex;

    justify-content: space-around;
    align-items: center;

    padding: 96px 0px;
}

.hero-content{

    span{
        display: block;
        color: $green;
    }

    h1{
        margin-bottom: 16px;
    }

    p{
        margin-bottom: 32px;
    }
    
}
