// TESTIMONIALS
.testimonials{
    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 32px 0px;

    > img{
        height: 326px;
    }
}


.testimonials-wrap{
    width: 750px;
}

.testimonials-content{
    margin-bottom: 32px;

    p{
        margin-bottom: 16px;
    }

    p:nth-child(2){
        color: $green;

        font-size: rem(20);
        font-weight: 600;

        margin-bottom: 8px;
    }

    p:nth-child(3){
        color: #89939E;
    }
}

.testimonials-clients{
    display: flex;
    justify-content: space-between;
    align-items: center;

    a{
        color: $green;

        font-size: rem(20);
        font-weight: 600;
    }
}